- var social = ['fa-linkedin-in', 'fa-github-alt', 'fa-tumblr', 'fa-vk']
-
  var skills = [
    {
      "number": age,
      "text": "Возраст начала занятий на скрипке"
    },
    {
      "number": concerts,
      "text": "Концертов отыграл"
    },
    {
      "number": cities,
      "text": "Максимальное число городов в туре"
    },
    {
      "number": years,
      "text": "Лет на сцене в качестве скрипача"
    }
  ]